@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Россия, Г. Киров<br />
</address>

<address>
    <strong>Поддержка:</strong>   IoganVII@yandex.ru <br />
</address>

<div>
    <table>
        <tr>
            <td><p>Логин</p></td>
            <td><p>Пароль</p></td>
            <td><p>Email</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Base)
        {
            <tr>
                <td width="100px"><p>@b.Login</p></td>
                <td width="100px"><p>@b.Password</p></td>
                <td width="100px"><p>@b.Email</p></td>
            </tr>
        }
    </table>

    <table>
        <tr>
            <td width="100px"><p>Id</p></td>
            <td width="100px"><p>Имя пользователя</p></td>
        </tr>
        @foreach (var b in ViewBag.Ap)
        {
        <tr>
            <td width="100px"><p>@b.id</p></td>
            <td width="100px"><p>@b.Name</p></td>
        </tr>
        }
    </table>



    <ul>
        <li>   @ViewBag.ip</li>
        <li>   @ViewBag.referrer</li>
        <li>   @ViewBag.agent</li>

    </ul>
</div>