@model Scottish_duel.Models.RegisterModel

<h2>Создание аккаунта: </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        <div>
            Логин
            <div>
                @Html.EditorFor(model => model.Login)
            </div>
        </div>

        <div>
            Пароль
            <div>
                @Html.PasswordFor(model => model.Password)
            </div>
        </div>

        <div>
            Email
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>

        <hr />
        <div>
            <div>
                @Helpers.New_Sign_up()
            </div>
        </div>

    </div>

}



